body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#nav-bar {
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    text-align: end;
    position: fixed;
    background: rgb(180,58,105);
    background: linear-gradient(90deg, rgba(180,58,105,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding:3px;
}

#nav-bar a {
    padding: 20px 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
#nav-bar a:hover {
    background-color: brown;
    color: whitesmoke;

}

#welcome-section {
    text-align: center;
    color: whitesmoke;
    background: rgb(40,0,0);
    background: linear-gradient(315deg, rgba(40,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(52,0,0,1) 100%);
    padding: 200px 0;
}

#welcome-section p {
    color: tomato;
    font-size: 26px;

}

h1, h2{
    font-size: 44px;
}

#work {
    text-align: center;
    background: lightslategrey;
}


h2 {
    margin-top: 0;
    padding-top: 20px;
}
#projects {
    display: flex;
    margin: 0 auto 0 auto;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 200px 0;
    
    align-content: center;
    width: 1024px;
}

.project-tile {
    display: flex;
    flex-direction: column;
    margin: 50px; 
    background-color: bisque;  
    padding: 10px 10px 0px 10px;
    border: 2px solid black;
  
}

.project-tile p {
    background:lightslategray;
    padding: 10px 0 ;
    border-radius: 5px;
    
}

.project-tile:hover {
    background-color: grey;
}

@media only screen and (max-width: 600px) {
    #projects {
        width: 600px;
    }
  }


h3 {
    margin-top: 0;
    padding: 15px;
}

#contact {
    background: lightgray;
    text-align: center;
    padding: 200px 0;

}

footer p{
    text-align: center;
    background: grey;
    margin: 0;
    padding: 20px 0;
}